{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8">d
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static "task_manager/css/importer.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="icon" type="image/s-icon" href="{% static "/task_manager/favicon.ico" %}">
    {% block head_extra %}{% endblock %}
</head>
<body class="wrapper">

{% block content %}g{% endblock %}

	<script src="{% static "task_manager/js/main.js" %}"></script>
</body>
</html>
