{% block header %}
    <header class="header" xmlns="http://www.w3.org/1999/html">
		<input type="text" class="search header__search" placeholder="поиск">
        <a class="header__logo" href="/"></a>
		<div class="header__button_panel">
			<button class="button header__button header__create-task-button">
				<i class="fa fa-calendar-plus-o"></i>
			</button>
			<button class="button header__button">
				<i class="fa fa-cog button__icon"></i>
				{{ user.username|capfirst }}
			</button>
			<button class="button header__button">
                <a href="/logout/"><i class="fa fa-sign-out"></i></a>
			</button>
		</div>
	</header>
{% endblock %}
