{% extends "task_manager/base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Task Manager" %}{% endblock %}

{% block content %}

	<main class="day-list">
        {% for task_by_day in tasks_by_days %}
            <a class="day-card" calendar-date="{{ task_by_day.due_to_date|date:"Y-m-d" }}"
               href="{% language 'en' %}{{ task_by_day.due_to_date|date:"Y/b/d" }}{% endlanguage %}">
                <div class="day-card__image"></div>
                <div class="day-card__content">
                        <span class="day-card__date">{{ task_by_day.due_to_date|date:"j" }} {{ task_by_day.due_to_date|date:"M" }}</span>
                        <span class="day-card__day-name">{{ task_by_day.due_to_date|date:"l" }}</span>
                        <span class="day-card__task-count">{% trans "Число задач:" %}{{ task_by_day.tasks_amount }}</span>
                </div>
            </a>

        {% endfor %}

		<section class="slider {% if open_task_form is True %}slider_active{% endif %}">
			<form class="task-creation-form" action="{% url 'task_manager:index' %}" method="post">
                {% csrf_token %}
				<h2 class="task-creation-form__header">Создать Задачу</h2>
				<input type="text"
				       name="title"
				       class="form-control task-creation-form__form-control"
				       placeholder="Заголовок"
                    value="{{ task_form.cleaned_data.title }}">
				<textarea type="text"
				          name="description"
				          class="form-control task-creation-form__form-control task-creation-form__text-area"
				          placeholder="Описание">{{ task_form.cleaned_data.description }}</textarea>
				<input type="date"
				       name="complete-date"
				       class="form-control task-creation-form__form-control task-creation-form__date-picker"
                value="{{ task_form.cleaned_data.due_to_date }}">
				<input type="datetime-local"
				       name="notification-time"
				       class="form-control task-creation-form__form-control task-creation-form__date-picker"
                        value="{{ task_form_reminder }}">
				<button class="button task-creation-form__button">Сохранить</button>
			</form>
		</section>


	</main>
{% endblock content %}